<!-- content.html -->
<div class="content">
    <h3>{{ heading|capitalize }}</h3>
    <div>
        {{ body_text|safe }}
    </div>

    <br /><br />

    <div>

	<table width='100%'>
            <thead>
                <tr><th>Language</th><th>Count Repos</th><th>Repos List</th></tr>
            </thead>
            <tbody>
	
            {% for lang,stats in langs.items() %}
	        <tr>
		    
		    <td>{{ lang }}</td>
                    <td>{{ stats['count'] }}</td>
                    <td>
			<ul>
			{% for repo in stats['repos'] %}
			    <li>{{ repo }}</li>	
			{% endfor %}
			</ul>
                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>
</div>
